# Ignore Composer and Node.js dependencies
/vendor/
/node_modules/
/wp-content/
/wp-admin/
/wp-includes/

# Ignore IDE files
.idea/
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp
